// ┌──────────────────────────────────┐
//  Fonts
// └──────────────────────────────────┘

@font-face {
  font-family: 'Encode Sans';
  src: url('./fonts/EncodeSans-VariableFont_wdth\,wght.ttf')
    format('truetype-variations');
  font-weight: 1 999;
}
