@import 'fonts';
@import 'mixins';

// ┌──────────────────────────────────┐
//  Variables
// └──────────────────────────────────┘

$primaryColor: #e7e7e7;
$secondaryColor: #1a1a1a;
$accentColor: #3d0dee;

// ┌──────────────────────────────────┐
//  Keyframes
// └──────────────────────────────────┘

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(3%, 1%);
  }
  30% {
    transform: translate(3%, -13%);
  }
  40% {
    transform: translate(-8%, 2%);
  }
  50% {
    transform: translate(12%, 9%);
  }
  60% {
    transform: translate(-6%, 4%);
  }
  70% {
    transform: translate(9%, 4%);
  }
  80% {
    transform: translate(-4%, -4%);
  }
  90% {
    transform: translate(-1%, 7%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: rotate3D(0, 1, 0, 60deg);
  }
  to {
    opacity: 1;
    transform: rotate3D(0, 0, 0, 0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: rotate3D(0, 0, 0, 0);
  }
  to {
    opacity: 0;
    transform: rotate3D(0, 1, 0, -60deg);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100px);
    opacity: 0;
  }
}

// ┌──────────────────────────────────┐
//  Styles
// └──────────────────────────────────┘

body {
  font-family: '4000', sans-serif;
  font-size: 100%;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: $secondaryColor;
  cursor: none;
  overflow: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  cursor: none;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  color: $primaryColor;
  text-decoration: none;

  @include on-event {
    color: $primaryColor;
    text-decoration: underline;
  }
}

p {
  margin: 0;
}

h1 {
  color: $primaryColor;
  font-size: 3em;
  margin: 0.67em 0;
  mix-blend-mode: soft-light;
}

.App {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  &::before {
    content: '';
    width: 200vw;
    height: 200vh;
    position: absolute;
    left: -50%;
    top: -50%;
    animation: grain 1.5s steps(8) infinite;
    background-image: url('./img/noise.png');
    pointer-events: none;
  }
}

.p5Canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo {
  position: absolute;
  top: 5px;
  left: 5px;
}

.preview {
  &__1 {
    background-image: url(https://source.unsplash.com/random);
  }
  &__2 {
    background-image: url(https://source.unsplash.com/random);
  }
  &__3 {
    background-image: url(https://source.unsplash.com/random);
  }
  &__4 {
    background-image: url(https://source.unsplash.com/random);
  }
}

.work-wrapper {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 100px 50px;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 0.45s ease-out;
}

.work {
  position: relative;
  width: 100%;
  margin: 0 30px;
  transform-origin: left center;
  pointer-events: auto;
}

.workDetail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;

  &__content {
    position: relative;
    grid-column: 1 / 3;
    background-color: $secondaryColor;
    overflow-y: scroll;
    // animation: fadeIn 0.45s ease-out;
    transform-origin: center left;

    &-img {
      width: 100%;
      height: auto;
    }
  }

  &__description {
    grid-column: 3;
    padding: 50px 30px;
    background-color: $primaryColor;
    color: $secondaryColor;
    // animation: fadeIn 0.45s ease-out;
    transform-origin: center right;

    h2 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.6rem;
    }
  }
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 0.45s ease-out forwards;
  @include delayed;
}

.fadeOut {
  opacity: 1;
  animation: fadeOut 0.25s ease-out forwards;
  @include delayed_faster;
}

.slideIn {
  opacity: 0;
  animation: slideIn 0.45s ease-out forwards;
  @include delayed;
}

.slideOut {
  opacity: 1;
  animation: slideOut 0.45s ease-out forwards;
  @include delayed_faster;
}

.about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  & figure {
    width: 256px;
    height: 66px;
    perspective: 500px;
    margin: 30px 30px;

    &::after {
      content: '';
      width: 30px;
      height: 3px;
      background-color: $primaryColor;
      position: absolute;
      top: 50%;
      right: -38px;
    }
  }
  & figure div {
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.25s;
  }
  & figure:hover div {
    transform: rotateX(-90deg);
  }
  & span {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    border: 3px solid $primaryColor;
    border-radius: 2px;
    background-color: $secondaryColor;
    line-height: 60px;
    font-size: 14pt;
    font-weight: 450;
    text-align: center;
    box-shadow: 0px 8px 15px $secondaryColor;
    // box-shadow: 0px 0px 0px $accentColor;
  }
  & span:nth-child(1) {
    color: $primaryColor;
    transform: translate3d(0, 0, 30px);
  }
  & span:nth-child(2) {
    color: $secondaryColor;
    background: $primaryColor;
    transform: rotateX(90deg) translate3d(0, 0, 30px);

    & div {
      transform: translate3d(0, 0, 30px);
    }
  }
}

.btn-wrapper {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex;
  flex-direction: row;
  transition: all 0.45s ease-out;
}

.btn {
  font-family: '4000';
  color: $primaryColor;
  font-size: 22px;
  line-height: 24px;
  margin: 0.2em 0.2em;
  padding: 1em 1em;
  max-width: 200px;
  position: relative;
  text-decoration: none;
  width: 100%;
  font-weight: 400;
  transition: font-weight 0.25s ease-out;
  background-color: transparent;
  border: none;
  white-space: nowrap;
  outline: none;

  @include on-event {
    font-weight: 700;
  }

  &:not(:last-child)::after {
    content: '|';
    font-weight: 400;
    color: $accentColor;
    position: absolute;
    right: -8px;
  }
}

.Tilt {
  display: block;
  height: 100%;
  background-color: black;
  background-size: cover;
  background-position: center;
  transform-style: preserve-3d;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.015);
  transition: box-shadow 0.2s;
  border-radius: 2px;

  &:hover {
    box-shadow: 0 10px 17px rgba(0, 0, 0, 0.5);

    & .Tilt-inner {
      transform: translateZ(70px);
      font-weight: 700;
    }
    & .font-weight-regular {
      font-weight: 300;
    }

    &::before {
      opacity: 0.7;
    }
  }

  @include breakpoint-small-down {
    width: 320px;
    height: 400px;
  }

  &::before {
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(65deg, $secondaryColor, transparent 70%);
    position: absolute;
    border-radius: 2px;
    opacity: 1;
    transition: opacity 0.45s ease-out;
  }
}

.Tilt-inner {
  position: absolute;
  bottom: 40px;
  left: 40px;
  right: 40px;
  font-size: 1.6rem;
  font-weight: 450;
  color: $primaryColor;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 0.3px rgba(0, 0, 0, 0.14),
    0 0.3px 4px rgba(0, 0, 0, 0.12), 0 -0.2px 1px rgba(0, 0, 0, 0.1);
  transition: font-weight 0.45s ease-out, transform 0.45s ease-out;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 50px;
    height: 2px;
    background-color: $primaryColor;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 0.3px rgba(0, 0, 0, 0.14),
      0 0.3px 4px rgba(0, 0, 0, 0.12), 0 -0.2px 1px rgba(0, 0, 0, 0.1);
  }
}

.font-weight-regular {
  font-size: 1.4rem;
  font-weight: 450;
  margin-top: 4px;
  transition: font-weight 0.45s ease-out;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  color: $primaryColor;
  font-size: 22px;
  font-weight: 400;
  transition: font-weight 0.25s ease-out;
}

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid $primaryColor;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transition: all 150ms ease;
  transition-property: opacity, background-color, transform, mix-blend-mode;

  &--hidden {
    opacity: 0;
  }

  &--clicked {
    transform: translate(-50%, -50%) scale(0.9);
    background-color: $primaryColor;
  }

  &--link-hovered {
    transform: translate(-50%, -50%) scale(1.25);
    background-color: $primaryColor;
  }

  &--back {
    transform: translate(-50%, -50%);

    &::after {
      content: '';
      position: absolute;
      top: 4px;
      right: 4px;
      width: 1px;
      height: 14px;
      background-color: $primaryColor;
      transform-origin: top right;
      transform: rotateZ(45deg);
    }

    &::before {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      width: 1px;
      height: 14px;
      background-color: $primaryColor;
      transform-origin: top left;
      transform: rotateZ(-45deg);
    }
  }
}
