@import 'fonts';
@import 'mixins';

// ┌──────────────────────────────────┐
//  Variables
// └──────────────────────────────────┘

$primaryColor: #e7e7e7;
$secondaryColor: #1a1a1a;
$accentColor: #3d0dee;

// ┌──────────────────────────────────┐
//  Keyframes
// └──────────────────────────────────┘

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(3%, 1%);
  }
  30% {
    transform: translate(3%, -13%);
  }
  40% {
    transform: translate(-8%, 2%);
  }
  50% {
    transform: translate(12%, 9%);
  }
  60% {
    transform: translate(-6%, 4%);
  }
  70% {
    transform: translate(9%, 4%);
  }
  80% {
    transform: translate(-4%, -4%);
  }
  90% {
    transform: translate(-1%, 7%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: rotate3D(0, 1, 0, 60deg);
  }
  to {
    opacity: 1;
    transform: rotate3D(0, 0, 0, 0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: rotate3D(0, 0, 0, 0);
  }
  to {
    opacity: 0;
    transform: rotate3D(0, 1, 0, -60deg);
  }
}

@keyframes detailIn-left {
  from {
    // opacity: 0;
    transform: translate3D(0, -100vh, 0);
  }
  to {
    // opacity: 1;
    transform: translate3D(0, 0, 0);
  }
}

@keyframes detailOut-left {
  from {
    // opacity: 1;
    transform: translate3D(0, 0, 0);
  }
  to {
    // opacity: 0;
    transform: translate3D(0, 100vh, 0);
  }
}

@keyframes detailIn-right {
  from {
    opacity: 1;
    transform: translate3D(100vw, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3D(0, 0, 0);
  }
}

@keyframes detailOut-right {
  from {
    // opacity: 1;
    transform: translate3D(0, 0, 0);
  }
  to {
    // opacity: 0;
    transform: translate3D(100vw, 0, 0);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100px);
    opacity: 0;
  }
}

@keyframes opaIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// ┌──────────────────────────────────┐
//  Styles
// └──────────────────────────────────┘

body {
  font-family: '4000', Sans-Serif;
  font-size: 100%;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: $secondaryColor;
  cursor: none;
  overflow: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  cursor: none !important;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  color: $primaryColor;
  font-weight: 450;
  text-decoration: none;
  transition: 0.45s ease-out;

  @include on-event {
    color: $primaryColor;
    font-weight: 900;
  }
}

button {
  font-family: '4000';
  color: $primaryColor;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: transparent;
  border: none;
  white-space: nowrap;
  outline: none;
  transition: 0.45s ease-out;
}

p {
  margin: 0;
}

h1 {
  color: $primaryColor;
  font-size: 3em;
  margin: 0.67em 0;
}

.App {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &::before {
    content: '';
    width: 200vw;
    height: 200vh;
    position: absolute;
    left: -50%;
    top: -50%;
    animation: grain 1.5s steps(8) infinite;
    background-image: url('./img/noise.png');
    pointer-events: none;
  }
}

.p5Canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 5;
}

.preview {
  &__1 {
    background-image: url(./img/pbd.jpg);
    background-position: left !important;
  }
  &__2 {
    background-image: url(./img/cbe.jpg);
  }
  &__3 {
    background-image: url(./img/nss.jpg);
  }
  &__4 {
    background-image: url(./img/syn.jpg);
  }
}

.info {
  position: absolute;
  top: 15%;
  left: 10px;
  color: $primaryColor;
  font-size: 2rem;
  line-height: 2.9rem;
  text-decoration: none;
  font-weight: 400;
  max-width: 100%;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 0.3px rgba(0, 0, 0, 0.14),
    0 0.3px 4px rgba(0, 0, 0, 0.12), 0 -0.2px 1px rgba(0, 0, 0, 0.1);

  @include lg {
    max-width: 60%;
    font-size: 3rem;
    line-height: 4rem;
  }

  &__text {
    margin-bottom: 30px;

    &--btn {
      font-weight: 100;
      animation: tick 2s ease infinite;
      @keyframes tick {
        0% {
          font-weight: 100;
        }
        50% {
          font-weight: 600;
        }
        100% {
          font-weight: 100;
        }
      }
    }
  }

  &__link {
    font-size: 22px;
    animation: opaIn 1s ease-out;
    &:not(:last-child) {
      margin-right: 30px;
    }

    @include on-event {
      color: $primaryColor;
      font-weight: 900;
    }

    &--impressum {
      font-weight: 900;
    }
  }
}

.work-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 80px 30px;
  transition: opacity 0.45s ease-out;
  overflow: scroll;

  @include md {
    pointer-events: none;
    overflow: hidden;
    flex-direction: row;
  }

  @include lg {
    padding: 100px 50px;
  }
}

.work {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 30px 0;
  transform-origin: left center;
  pointer-events: auto;

  @include md {
    height: 100%;
    margin: 0 10px;
  }

  @include xl {
    margin: 0 30px;
  }
}

.workDetail {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 1fr 1fr 1fr;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  overflow-y: scroll;
  z-index: 6;

  @include md {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: none;
    overflow-y: initial;
    z-index: 3;
  }

  &__content {
    grid-column: none;
    grid-row: 2 / 3;
    position: relative;
    height: 100%;
    background-color: $secondaryColor;
    overflow-y: initial;
    transform-origin: center left;

    @include md {
      grid-column: 1 / 3;
      grid-row: none;
      overflow-y: scroll;
    }

    &--img {
      width: 100%;
      height: auto;
    }
    &--player {
      @include md {
        margin-top: 80px;
      }
    }
  }

  &__description {
    position: relative;
    grid-column: none;
    grid-row: 1;
    padding: 30px 30px;
    background-color: $primaryColor;
    color: $secondaryColor;
    transform-origin: center right;
    height: auto;
    width: 100vw;
    box-shadow: inset 0 0 10px $secondaryColor;

    @include md {
      grid-column: 3;
      grid-row: none;
      height: 100vh;
      padding: 40px 40px;
      width: auto;
    }

    h2 {
      font-size: 2.5rem;
      margin-bottom: 25px;
    }

    p {
      font-size: 1.15rem;
      line-height: 1.8rem;
      margin-bottom: 80px;
    }
  }

  &__button {
    font-family: '4000';
    color: $secondaryColor;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 450;
    transition: font-weight 0.25s ease-out;
    background-color: transparent;
    border: none;
    white-space: nowrap;
    outline: none;
    padding: 0;

    &--back {
      position: relative;

      &::before {
        content: '\2196';
        margin-right: 3px;
      }
    }

    &--wrapper {
      position: absolute;
      right: 40px;
      bottom: 40px;
    }

    &--next {
      &::after {
        font-size: 3rem;
        content: '\2192';
        margin-left: 3px;
      }
    }

    &--prev {
      &::after {
        font-size: 3rem;
        content: '\2190';
        margin-left: 3px;
      }
    }

    @include on-event {
      font-weight: 700;
    }
  }
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 0.45s ease-out forwards;
  @include delayed;
}

.fadeOut {
  opacity: 1;
  animation: fadeOut 0.25s ease-out forwards;
  @include delayed_faster;
}

.detailIn-left {
  // opacity: 0;
  animation: detailIn-left 0.45s ease-out forwards;
}

.detailOut-left {
  // opacity: 1;
  animation: detailOut-left 0.3s ease-out forwards;
}

.detailIn-right {
  opacity: 0;
  animation: detailIn-right 0.45s ease-out forwards;
  animation-delay: 0.1s;
}

.detailOut-right {
  // opacity: 0;
  animation: detailOut-right 0.3s ease-out forwards;
  animation-delay: 0.1s;
}

.slideIn {
  opacity: 0;
  animation: slideIn 0.45s ease-out forwards;
  @include delayed;
}

.slideOut {
  opacity: 1;
  animation: slideOut 0.4s ease-out forwards;
  @include delayed_faster;
}

.about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  & figure {
    width: 252px;
    height: 62px;
    perspective: 500px;
    margin: 30px 30px;
    box-shadow: 0px 8px 15px $secondaryColor;

    &::after {
      content: '';
      width: 30px;
      height: 1px;
      background-color: $primaryColor;
      position: absolute;
      top: 50%;
      right: -38px;
    }
  }
  & figure div {
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.25s;
  }
  & figure:hover div {
    transform: rotateX(-90deg);
  }
  & span {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid $primaryColor;
    border-radius: 2px;
    background-color: $secondaryColor;
    line-height: 60px;
    font-size: 14pt;
    font-weight: 450;
    text-align: center;
  }
  & span:nth-child(1) {
    color: $primaryColor;
    transform: translate3d(0, 0, 30px);
  }
  & span:nth-child(2) {
    color: $secondaryColor;
    background: $primaryColor;
    transform: rotateX(90deg) translate3d(0, 0, 30px);

    & div {
      transform: translate3d(0, 0, 30px);
    }
  }
}

.btn-wrapper {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex;
  flex-direction: row;
  transition: all 0.45s ease-out;
}

.btn {
  font-family: '4000';
  color: $primaryColor;
  font-size: 22px;
  line-height: 24px;
  margin: 0.2em 0.2em;
  padding: 1em 1em;
  max-width: 200px;
  position: relative;
  text-decoration: none;
  width: 100%;
  font-weight: 400;
  transition: font-weight 0.25s ease-out;
  background-color: transparent;
  border: none;
  white-space: nowrap;
  outline: none;

  @include on-event {
    font-weight: 700;
  }

  &:not(:last-child)::after {
    content: '|';
    font-weight: 400;
    color: $accentColor;
    position: absolute;
    right: -8px;
  }
}

.Tilt {
  display: block;
  height: 100%;
  background-color: black;
  background-size: cover;
  background-position: center;
  transform-style: preserve-3d;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.015);
  transition: box-shadow 0.2s;
  border-radius: 2px;

  &:hover {
    box-shadow: 0 10px 17px rgba(0, 0, 0, 0.5);

    & .Tilt-inner {
      transform: translateZ(70px);
      font-weight: 700;
    }
    & .font-weight-regular {
      font-weight: 300;
    }

    &::before {
      opacity: 0.7;
    }
  }

  &::before {
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(65deg, $secondaryColor, transparent 70%);
    position: absolute;
    border-radius: 2px;
    opacity: 1;
    transition: opacity 0.45s ease-out;
  }
}

.Tilt-inner {
  position: absolute;
  bottom: 40px;
  left: 40px;
  right: 40px;
  font-size: 1.6rem;
  font-weight: 450;
  color: $primaryColor;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 0.3px rgba(0, 0, 0, 0.14),
    0 0.3px 4px rgba(0, 0, 0, 0.12), 0 -0.2px 1px rgba(0, 0, 0, 0.1);
  transition: font-weight 0.45s ease-out, transform 0.45s ease-out;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 50px;
    height: 2px;
    background-color: $primaryColor;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 0.3px rgba(0, 0, 0, 0.14),
      0 0.3px 4px rgba(0, 0, 0, 0.12), 0 -0.2px 1px rgba(0, 0, 0, 0.1);
  }
}

.font-weight-regular {
  font-size: 1.4rem;
  font-weight: 450;
  margin-top: 4px;
  transition: font-weight 0.45s ease-out;
}

.back {
  position: absolute;
  top: 20px;
  right: 20px;
  color: $primaryColor;
  font-size: 2rem;
  font-weight: 400;
  transition: font-weight 0.25s ease-out;
  z-index: 2;

  &::before {
    content: '\2190';
    width: 50px;
    height: 50px;
  }

  @include md {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    &::before {
      content: '';
      width: 0;
      height: 0;
    }
  }
}

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid $primaryColor;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transition: all 150ms ease;
  transition-property: opacity, background-color, transform, mix-blend-mode;

  &--hidden {
    opacity: 0;
  }

  &--clicked {
    transform: translate(-50%, -50%) scale(0.9);
    background-color: $primaryColor;
  }

  &--link-hovered {
    transform: translate(-50%, -50%) scale(1.25);
    background-color: $primaryColor;
  }

  &--back {
    transform: translate(-50%, -50%);
    border: none;

    &::after {
      content: '';
      position: absolute;
      top: 0px;
      right: 0px;
      width: 1px;
      height: 28px;
      background-color: $primaryColor;
      transform-origin: top right;
      transform: rotateZ(45deg);
    }

    &::before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 1px;
      height: 28px;
      background-color: $primaryColor;
      transform-origin: top left;
      transform: rotateZ(-45deg);
    }
  }
}

.Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.popup {
  position: fixed;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  padding: 20px;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.95);
  color: $primaryColor;
  z-index: 22;
  overflow-y: scroll;
  hyphens: auto;
  border-radius: 2px;

  @include md {
    width: calc(100% - 6rem);
    height: calc(100% - 6rem);
    margin: 3rem;
    padding: 80px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    line-height: 1.8rem;
  }
}
