@import 'mixins';

$primaryColor: #d6b8b8;

html,
body {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  box-sizing: border-box;
}

a {
  color: $primaryColor;
  text-decoration: none;

  @include on-event {
    color: white;
    text-decoration: underline;
  }
}

h1 {
  color: $primaryColor;
  font-size: 2em;
  margin: 0.67em 0;
  mix-blend-mode: soft-light;
}

.p5Canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.title {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
